<div class="container">
        <div class="progDisp"> 

           <div class="proDisp2">Notice Board</div>
            <div class="col-md-12 col-sm-12 col-xs-12 noticeDisplay" *ngFor="let notice of eNotices | paginate : { itemsPerPage : 2, currentPage : p}" >
                <div class="noticeDisp">
                    <div class="row"> 
                        <div  class="col-md-3 col-sm-3 col-xs-12 noticeShow">
                            <h3><b>{{notice.date | date:"fullDate" }}</b></h3>
                        </div>
                        
                        <div class="col-md-6 col-sm-8 col-xs-12 noticeShow">
                             <h2>{{ notice.title }}</h2>
                             <pre>{{notice.description}}</pre>  
                        </div>
                        <div *ngIf="auth.isAdminActive()" class="col-md-3 col-sm-2 col-xs-12 noticeShow">
                            <button class="btnUp" (click)="onUpdateClick(notice.id)">Update</button>
                            <button class="btnDel" (click)="onDeleteClick(notice._id)">Delete</button>
                        </div>
                    
                     </div>                   
                </div>
            </div>
            <pagination-controls (pageChange) = "p = $event" > </pagination-controls>
       
       </div>
      </div>