 
  <app-header></app-header>
  <div id="wrapper" style="margin-top:50px;">
      <!-- <ul class="sidebar navbar-nav">
          <li class="nav-item">
           <a class="nav-link" [routerLink]="['/Student']" routerLinkActive="active">
               <i class="fas fa-fw fa-chart-area"></i>
               <span>Admin Student</span>
           </a>
          </li>
          <li class="nav-item">
             <a class="nav-link" routerLink="/NoticeBoard">
               <i class="fas fa-fw fa-chart-area"></i>
               <span>Notice Board</span>
             </a>
          </li>
          <li class="nav-item">
           <a class="nav-link" routerLink="/Programme">
              <i class="fas fa-fw fa-chart-area"></i>
              <span>Programme</span>
             </a>
          </li>
          <li class="nav-item">
             <a class="nav-link" routerLink="/Gallery">
               <i class="fas fa-fw fa-chart-area"></i>
               <span>School Gallery</span>
             </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink="/Website">
               <i class="fas fa-fw fa-chart-area"></i>
               <span>Website</span>
             </a>
          </li>
        </ul> -->
        <app-sidebar></app-sidebar>
        <div class="containerwidth">
            <router-outlet></router-outlet>
          </div>
  </div>
  
   <app-footer> </app-footer>
   