
<ul class="sidebar navbar-nav">
    <li class="nav-item">
        <a class="nav-link" *ngIf="!auth.isLoggednIn()" [routerLink]="['/charts']" routerLinkActive="active">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span>
        </a>
       </li>
       <li class="nav-item">
        <a class="nav-link"  *ngIf="!auth.isLoggednIn()" [routerLink]="['/parentdashboard']" routerLinkActive="active">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Parent Dashboard</span>
        </a>
       </li>


    <li class="nav-item">
     <a class="nav-link"  *ngIf="!auth.isLoggednIn()" [routerLink]="['/student']" routerLinkActive="active">
         <i class="fas fa-fw fa-chart-area"></i>
         <span>Admit Student</span>
     </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  *ngIf="!auth.isLoggednIn()" [routerLink]="['/studentlist']" routerLinkActive="active">
           <i class="fas fa-fw fa-chart-area"></i>
          <span>Student List</span>
      </a>
     </li>
    
    <li class="nav-item">
       <a class="nav-link"  *ngIf="!auth.isLoggednIn()" routerLink="/noticepost">
         <i class="fas fa-fw fa-chart-area"></i>
         <span>Notice Upload</span>
       </a>
    </li>

    <li class="nav-item">
        <a class="nav-link"  *ngIf="!auth.isLoggednIn()" routerLink="/noticedisplay">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Notice Board</span>
        </a>
     </li>

    <li class="nav-item">
     <a class="nav-link"  *ngIf="!auth.isLoggednIn()" routerLink="/programe">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Event Upload</span>
       </a>
    </li>
    <li class="nav-item">
       <a class="nav-link"   *ngIf="!auth.isLoggednIn()" routerLink="/gallery">
         <i class="fas fa-fw fa-chart-area"></i>
         <span>School Gallery</span>
       </a>
     </li>
   
  </ul> 