
<div class="container">
    <div class="progDisp">
     
      
      <form #galleryForm="ngForm" (ngSubmit)="onGallerySubmit(galleryForm.value)" >
        <div class="proDisp2"> Upload Images</div>
        <hr>
        <div class="row">
            <div class="col-lg-2 col-sm-2 col-xs-12">
                <label for="Img Upload"><b>Image Upload</b></label>
            </div>
            
                <div class="col-lg-4 col-sm-4 col-xs-12">
                    <input type="file" class="" id="file-chooser" (change)="selectFile($event)">
                </div>
             
            <div class="col-lg-2 col-sm-2 col-xs-12">
                <button type="button" class="upbutton" id="upload-button" (click)="onUpload($event)">Upload</button>
            </div> 
          </div>
          <div class="row">
              <div class="col-lg-2 col-sm-2 col-xs-12">
                  <label for="Category"><b>Select Category</b></label>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-12">
                <select class="form-control form-control-sm" id="category" name="category" placeholder="Select Category.." [value]="iCat"  ngModel #categoryRef="ngModel" required>
                  <option *ngFor="let item of category">{{ item }}</option>
                </select>
                <div *ngIf="categoryRef.invalid && categoryRef.touched">
                    <div *ngIf="categoryRef.errors.required" class="label-danger">
                        Please Select Category
                    </div>
                </div>

              </div>


          </div>
          <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="row">
                        <div class="col-lg-2 col-sm-2 col-xs-12">
                                Parents only
                        </div>
                        <div class="col-lg-2 col-sm-2 col-xs-12">
                             <input type="radio" [(ngModel)] ="isPrivate" name="gender" value="male" ngModel >
                        </div> 
                </div>
                <div class="row">
                        <div class="col-lg-2 col-sm-2 col-xs-12">
                                Public
                        </div>
                        <div class="col-lg-2 col-sm-2 col-xs-12">
                          <input type="radio" [(ngModel)] = "gender" name="gender" value="female" ngModel >
                        </div>  
                </div>
        </div>






          <div class="row">
              <div class="col-lg-2 col-sm-2 col-xs-12"></div>
              <div class="col-lg-4 col-sm-4 col-xs-12">
                  <button type="submit" value="Submit" [disabled]="galleryForm.invalid" class="Submitbutton">Submit</button>
              </div>
          </div>
      </form>
   </div>


   <br>
   <div class="progContainer">
     Images
     <div class="row">
       <div *ngFor="let item of eProg">
         <div class="column">
           <img [src]="item.imageUrl" />
          </div> 
       </div>
    </div>
   </div>
  </div>