<div class="container">
    <div class="loading" *ngIf="isUploading">Loading&#8230;</div>
    <div class="progDisp">
        
<form #eventForm="ngForm" (ngSubmit)="onProgramSubmit(eventForm)" >
  
        <div class="proDisp2"> Add Event</div>
        <hr>
        <div class="row"> 
      <div class="col-lg-2 col-sm-2 col-xs-12">
          <label for="title"><b>Title</b></label>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12">
          <input type="text" id="title" name="title" class="form-control form-control-sm" placeholder="Enter title.." ngModel [value]="title" #titleRef="ngModel" required>
              <div *ngIf="titleRef.invalid && titleRef.touched">
                  <div *ngIf="titleRef.errors.required" class="label-dange">
                      Please Enter Title
                  </div>
              </div>
      </div>
  </div>
 
  <div class="row">
      <div class="col-lg-2 col-sm-2 col-xs-12"> 
          <label for="description"><b>Description</b></label>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12">
          <textarea id="description" name="description" placeholder="Enter File description..."  ngModel [value]="description" #descRef="ngModel" required></textarea>
          <div *ngIf="descRef.invalid && descRef.touched">
              <div *ngIf="descRef.errors.required " class="label-dange">
                  Please Enter Description
              </div> 
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-lg-2 col-sm-2 col-xs-12">
          <label for="upload"><b>FileUpload</b></label>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-12">
          <input type="file"  accept="application/pdf" name="imageurl" ngModel id="imguploaded" #fileRef="ngModel" (change)="selectFile($event)" />
          <div *ngIf="fileRef.invalid && photoRef.touched">
                <span class="label label-danger" *ngIf="photoRef.errors.required">
                    Please Upload Photo
                </span>
            </div>
        </div>
      <div class="col-lg-2 col-sm-2 col-xs-12">
        <button class="upbutton" (click)="onUpload($event)">Upload</button>
   </div> 
  </div>

  <div class="row">
    <hr>
  </div>
  <div class="row">
      <div class="col-lg-2 col-sm-2 col-xs-12"> 
      </div>
     
     <div class="col-lg-4 col-sm-4 col-xs-12">
        <button type="submit" value="Submit" [disabled]="!isNotUploaded" class="Submitbutton">Submit</button>
     </div>
  </div>
   
</form>
    </div>
</div>