<div class="container">
  <div class="studContainer">
    
    
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="proDisp2">
                
                    Student Information.
                
            </div>
        </div>
    </div>
    <hr>
    <div>
        
            <div class="col-lg-12 col-sm-12">
                  <img [src]="student.photourl" class="studImg">
            </div>
       
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
          
          <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <label for="name"><b>Name</b></label>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12">
                {{student.name}}
            </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-sm-3 col-xs-12">
                  <label for="age"><b>Age</b></label>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-12">
                  {{student.age}}
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-sm-3 col-xs-12">
                  <label for="rollno"><b>Roll No.</b></label>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-12">
                  {{student.rollno}}
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-sm-3 col-xs-12">
                  <label for="gender"><b>Gender</b></label>
              </div>
              <div class="col-lg-4 col-sm-4 col-xs-12">
                  {{student.gender}}
              </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
          <div class="progBar">
            <div>
              Communication
            </div>
            <div class="progress">
               <div class="progress-bar" role="progressbar" aria-valuenow="70"
                          aria-valuemin="0" aria-valuemax="100" style="width:70%">
                          <span>{{sre}}%</span>
                </div>
           </div>
          </div>  
          <div class="progBar">
              <div>
                  Creativity
              </div>
              <div class="progress">
                 <div class="progress-bar" role="progressbar" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100" [style.width]="creativity+'%'">
                            <span>{{creativity}}%</span>
                  </div>
             </div> 
          </div>  
          <div class="progBar">
              <div>
                  Group Activity
              </div>
              <div class="progress">
                 <div class="progress-bar" role="progressbar" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100" [style.width]="groupActivity+'%'">
                            <span>{{groupActivity}}%</span>
                  </div>
             </div> 
          </div>  
          <div class="progBar">
              <div>
               Physical Activity
              </div>
              <div class="progress">
                 <div class="progress-bar" role="progressbar" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100" [style.width]="physicalActivity+'%'">
                            <span>{{physicalActivity}}%</span>
                  </div>
             </div> 
          </div>  
          <div class="progBar">
              <div>
               Education Activity
              </div>
              <div class="progress">
                 <div class="progress-bar" role="progressbar" aria-valuenow="0"
                            aria-valuemin="0" aria-valuemax="100" [style.width]="educationActivity+'%'">
                            <span>{{educationActivity}}%</span>
                  </div>
             </div> 
        </div>  
















        </div>
    </div>
  </div>
</div>